In [67]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [68]:
energy_df = pd.read_csv('energydata_complete.csv')

In [69]:
energy_df.head(10)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.20,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.500000,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.20,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.600000,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.20,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.700000,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.20,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.800000,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.20,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.900000,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
5,2016-01-11 17:50:00,50,40,19.890000,46.026667,19.20,44.500000,19.79,44.933333,18.890000,...,17.000000,45.29,6.016667,734.000000,92.000000,5.333333,43.833333,4.800000,44.919484,44.919484
6,2016-01-11 18:00:00,60,50,19.890000,45.766667,19.20,44.500000,19.79,44.900000,18.890000,...,17.000000,45.29,5.900000,734.100000,92.000000,5.000000,40.000000,4.700000,47.233763,47.233763
7,2016-01-11 18:10:00,60,50,19.856667,45.560000,19.20,44.500000,19.73,44.900000,18.890000,...,17.000000,45.29,5.916667,734.166667,91.833333,5.166667,40.000000,4.683333,33.039890,33.039890
8,2016-01-11 18:20:00,60,40,19.790000,45.597500,19.20,44.433333,19.73,44.790000,18.890000,...,17.000000,45.29,5.933333,734.233333,91.666667,5.333333,40.000000,4.666667,31.455702,31.455702
9,2016-01-11 18:30:00,70,40,19.856667,46.090000,19.23,44.400000,19.79,44.863333,18.890000,...,17.000000,45.29,5.950000,734.300000,91.500000,5.500000,40.000000,4.650000,3.089314,3.089314

In [70]:
energy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
date           19735 non-null object
Appliances     19735 non-null int64
lights         19735 non-null int64
T1             19735 non-null float64
RH_1           19735 non-null float64
T2             19735 non-null float64
RH_2           19735 non-null float64
T3             19735 non-null float64
RH_3           19735 non-null float64
T4             19735 non-null float64
RH_4           19735 non-null float64
T5             19735 non-null float64
RH_5           19735 non-null float64
T6             19735 non-null float64
RH_6           19735 non-null float64
T7             19735 non-null float64
RH_7           19735 non-null float64
T8             19735 non-null float64
RH_8           19735 non-null float64
T9             19735 non-null float64
RH_9           19735 non-null float64
T_out          19735 non-null float64
Press_mm_hg    19735 non-null float64
RH_out         19735 non-null float64
Windspeed      19735 non-null float64
Visibility     19735 non-null float64
Tdewpoint      19735 non-null float64
rv1            19735 non-null float64
rv2            19735 non-null float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [71]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [72]:
from sklearn.linear_model import LinearRegression

In [73]:
energy_df = energy_df.drop(columns=['date', 'lights'])

In [74]:
energy_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [75]:
scalar = MinMaxScaler()
norm_df = pd.DataFrame(scalar.fit_transform(energy_df), columns=energy_df.columns)
norm_df.head(10)

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611
5,0.037383,0.32735,0.522980,0.225345,0.675883,0.215188,0.755569,0.341441,0.771233,0.172320,...,0.219563,0.667357,0.354234,0.109302,0.894737,0.380952,0.658974,0.515837,0.898441,0.898441
6,0.046729,0.32735,0.515824,0.225345,0.675883,0.215188,0.754012,0.341441,0.773794,0.169135,...,0.219563,0.667357,0.350482,0.111628,0.894737,0.357143,0.600000,0.511312,0.944735,0.944735
7,0.046729,0.32383,0.510137,0.225345,0.675883,0.210203,0.754012,0.341441,0.776924,0.169135,...,0.219563,0.667357,0.351018,0.113178,0.892544,0.369048,0.600000,0.510558,0.660808,0.660808
8,0.046729,0.31679,0.511169,0.225345,0.674009,0.210203,0.748871,0.341441,0.773794,0.175506,...,0.219563,0.667357,0.351554,0.114729,0.890351,0.380952,0.600000,0.509804,0.629118,0.629118
9,0.056075,0.32383,0.524723,0.227526,0.673072,0.215188,0.752298,0.341441,0.786883,0.169135,...,0.219563,0.667357,0.352090,0.116279,0.888158,0.392857,0.600000,0.509050,0.061691,0.061691

In [76]:
X = norm_df[['T2']]
Y = norm_df[['T6']]

In [55]:
#x_train, x_test, y_train, y_test = train_test_split(X_data, Y_data, test_size=0.3, random_state=42)
#simp_mod = LinearRegression()
#simp_mod.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [56]:
y_pred = simp_mod.predict(x_test)

In [58]:
r_squ = r2_score(y_test, y_pred)
print(round(r_squ, 2))

0.64

In [26]:
#print(Y_data)

[0.3810702  0.37544268 0.36748654 ... 0.86426042 0.82952506 0.78858002]

In [79]:
simp_mod = LinearRegression()
simp_mod.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## r2_score

In [81]:
#R_squared
r_sq = simp_mod.score(X, Y)
print('r2_squared score is: ', round(r_sq, 2))

r2_squared score is:  0.64

## mean absolute error

In [82]:
mae = mean_absolute_error(X, Y)
print(round(mae, 2))

0.12

## residual sum of squares

In [88]:
rss = np.sum(np.square(X - Y))
print('the residual sum of squares is: ', round(rss, 2))

the residual sum of squares is:  T2    0.0
T6    0.0
dtype: float64

## root mean squared error

In [86]:
rmse = rmse = np.sqrt(mean_squared_error(X, Y))
print(round(rmse, 2))

0.15

## coefficient of determination

In [87]:
# same as r_squared
r_sq = simp_mod.score(X, Y)
print('coefficient of determination is: ', round(r_sq, 2))

coefficient of determination is:  0.64

# MULTIPLE LINEAR REGRESSION

In [89]:
norm_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [60]:
features_df = energy_df.drop(columns=['Appliances'])
target_ = energy_df['Appliances']

In [61]:
x_train, x_test, y_train, y_test = train_test_split(features_df, target_, test_size=0.3, random_state=42)
lin_mod = LinearRegression()
lin_mod.fit(x_train, y_train)
y_values = lin_mod.predict(x_test)

In [109]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [91]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

C:\Users\Chinonye Chibueze\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 6136226.882484287, tolerance: 14642.917148544962
  positive)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [92]:
#comparing the effects pf regularization
def get_weights_df(lin_mod, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(lin_mod.coef_,feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [93]:
lin_mod_weights = get_weights_df(lin_mod, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_Weight')

In [95]:
final_weights = pd.merge(lin_mod_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on="Features")

In [101]:
print(final_weights)

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_Weight
0            T9           -21.148452    -21.144194 -2.113836e+01
1            T2           -18.370030    -18.365719 -1.836318e+01
2          RH_2           -13.740748    -13.738775 -1.373723e+01
3         T_out           -11.073628    -11.070412 -1.105957e+01
4          RH_8            -5.778861     -5.778774 -5.778977e+00
5          RH_9            -1.762680     -1.762822 -1.762338e+00
6          RH_7            -1.692787     -1.692745 -1.691936e+00
7            T5            -1.600843     -1.602047 -1.601612e+00
8        RH_out            -1.093521     -1.093058 -1.091186e+00
9            T1            -0.370721     -0.371657 -3.665146e-01
10          rv1             0.016483      0.016482  3.295809e-02
11          rv2             0.016483      0.016482  1.823973e-17
12  Press_mm_hg             0.170188      0.170201  1.702056e-01
13   Visibility             0.202586      0.202578  2.025350e-01
14         RH_5             0.257511      0.257533  2.575373e-01
15         RH_6             0.411649      0.411613  4.114501e-01
16           T7             1.040631      1.039264  1.034389e+00
17         RH_4             1.204984      1.204630  1.202900e+00
18    Windspeed             2.230425      2.230537  2.230566e+00
19           T4             2.793664      2.792575  2.788718e+00
20         RH_3             4.803162      4.803069  4.802045e+00
21    Tdewpoint             5.701393      5.698722  5.688957e+00
22           T6             7.363547      7.362456  7.360327e+00
23           T8             9.990970      9.990143  9.988261e+00
24         RH_1            16.300198     16.299026  1.629967e+01
25           T3            25.836743     25.834374  2.583110e+01

## new rmse

In [111]:
rmse = rmse = np.sqrt(mean_squared_error(y_test, y_values))
print(round(rmse, 3))

93.64

In [ ]:
rmse = np.sqrt(mean_squared_error(X, Y))
print(round(rmse, 2))